[defaults]
inventory           = inventories/production.ini
roles_path          = playbooks/roles
host_key_checking   = False
remote_user         = ubuntu
private_key_file    = ~/.ssh/meupardechaves.pem
stdout_callback     = yaml
retry_files_enabled = False

[ssh_connection]
pipelining      = True
connect_timeout = 10
